name: nektos/act-manual
on:
  workflow_dispatch:
jobs:
  act-local:
    runs-on: ubuntu-latest

    steps:
      # for local `nektos/act` use
      - run: apt update
      - run: apt install -y libnss3-dev libgdk-pixbuf2.0-dev libgtk-3-dev libxss-dev libasound2
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 7.14.1
      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Verify with headless
        uses: GabrielBB/xvfb-action@v1
        with:
          run: pnpm verify
